In [4]:
# Problem1

import pandas as pd

data = [10, 20, 30, 40, 50]
result1 = pd.Series(data)
print(type(result1))
print(result1)

<class 'pandas.core.series.Series'>
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
# Problem2

data = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
result2 = pd.Series(data)
print(type(result2))
print(result2)

<class 'pandas.core.series.Series'>
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
# Problem3

data = {'학생1':'둘리', '학생2':'또치', '학생3':'도우너', '학생4':'희동이', '학생5':'마이콜'}
result3 = pd.Series(data)
print(type(result3))
print(result3)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [8]:
# Problem4

data = ['둘리', '또치', '도우너', '희동이', '마이콜']
result4 = pd.Series(data, index=['학생1', '학생2', '학생3', '학생4', '학생5'])
print(type(result4))
print(result4)

<class 'pandas.core.series.Series'>
학생1     둘리
학생2     또치
학생3    도우너
학생4    희동이
학생5    마이콜
dtype: object

In [28]:
# Problem5

blood = ['A형', 'B형', 'O형', 'AB형']
st = [34.2, 27.1, 26.7, 11.5]
sr = pd.Series(st, index = blood)

print('[시리즈 sr 출력]')
print(sr)
print()

print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력 (숫자인덱스)]')
print(sr[0])
print(sr[-1])
print(sr[1])
print(sr[1:4])
print()

print('[시리즈 sr에서 인덱싱과 슬라이싱하여 출력 (이름인덱스)]')
print(sr['A형'])
print(sr['AB형'])
print(sr['B형'])
print(sr['B형':'AB형'])
print()

print('[시리즈 sr의 크기 출력]')
print(len(sr))
print()

print('[시리즈 sr의 인덱스 출력]')
print(sr.index)
print()

print('[시리즈 sr의 데이터값 출력]')
print(st)
print()

[시리즈 sr 출력]
A형     34.2
B형     27.1
O형     26.7
AB형    11.5
dtype: float64

[시리즈 sr에서 인덱싱과 슬라이싱하여 출력 (숫자인덱스)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64

[시리즈 sr에서 인덱싱과 슬라이싱하여 출력 (이름인덱스)]
34.2
11.5
27.1
B형     27.1
O형     26.7
AB형    11.5
dtype: float64

[시리즈 sr의 크기 출력]
4

[시리즈 sr의 인덱스 출력]
Index(['A형', 'B형', 'O형', 'AB형'], dtype='object')

[시리즈 sr의 데이터값 출력]
[34.2, 27.1, 26.7, 11.5]

In [33]:
# Problem6

data = {'name' : [ '둘리', '또치', '도우너', '희동이'],
             'kor' : [ 90, 80, 70, 70],
             'eng' : [ 99, 98, 97, 46],
             'mat' : [ 90, 70, 70, 60]}

result6 = pd.DataFrame(data)
print(result6)

  name  kor  eng  mat
0   둘리   90   99   90
1   또치   80   98   70
2  도우너   70   97   70
3  희동이   70   46   60

In [35]:
# Problem7

result6.index = ['학생1', '학생2', '학생3', '학생4']
print(result6)

# result6.set_index('이름', inplace=True)

    name  kor  eng  mat
학생1   둘리   90   99   90
학생2   또치   80   98   70
학생3  도우너   70   97   70
학생4  희동이   70   46   60

In [36]:
# Problem8

result6.rename(index={'학생1':'st1', '학생2':'st2', '학생3':'st3','학생4':'st4'}, inplace=True)
result6.rename(columns={'name':'dooly', 'kor':'doochi', 'eng':'dounar','mat':'heedong'}, inplace=True)
print(result6)

    dooly  doochi  dounar  heedong
st1    둘리      90      99       90
st2    또치      80      98       70
st3   도우너      70      97       70
st4   희동이      70      46       60

In [75]:
# Problem9

data = {'name':['듀크1', '듀크2', '듀크3', '듀크4', '듀크5', '듀크6', '듀크7'],
        'kor':[90, 80, 70, 70, 60, 70, 90],
        'eng':[99, 98, 97, 46, 77, 56, 90],
        'mat':[90, 70, 70, 60, 88, 99, 90]}

df = pd.DataFrame(data)

print(df)

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90

In [46]:
print(df[:5])
print()

print(df[-5:])
print()

print(df.columns)

  name  kor  eng  mat
0  듀크1   90   99   90
1  듀크2   80   98   70
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88

  name  kor  eng  mat
2  듀크3   70   97   70
3  듀크4   70   46   60
4  듀크5   60   77   88
5  듀크6   70   56   99
6  듀크7   90   90   90

Index(['name', 'kor', 'eng', 'mat'], dtype='object')

In [62]:
print(df['name'])
print()

print(df.eng)
print()

df_copy = df.copy()
df_copy.drop(['name', 'eng'], axis=1, inplace=True)
print(df_copy)

0    듀크1
1    듀크2
2    듀크3
3    듀크4
4    듀크5
5    듀크6
6    듀크7
Name: name, dtype: object

0    99
1    98
2    97
3    46
4    77
5    56
6    90
Name: eng, dtype: int64

   kor  mat
0   90   90
1   80   70
2   70   70
3   70   60
4   60   88
5   70   99
6   90   90

In [139]:
print('iloc 함수 사용 -------------------')
print(df.iloc[3])
print()

print(df.iloc[0][0])
print()

print(df.iloc[3][2])
print()

print(df.iloc[2:4,2])
print()

print(df.iloc[2:4,2:4])
print()

iloc 함수 사용 -------------------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object

듀크1

46

2    97
3    46
Name: eng, dtype: int64

   eng  mat
2   97   70
3   46   60

In [135]:
print('loc 함수 사용 -------------------')
print(df.loc[3])
print()

print(df.loc[0][0])
print()

print(df.loc[3][2])
print()

print(df.loc[2:3,'eng'])
print()

print(df.loc[2:3,'eng':'mat'])
print()

loc 함수 사용 -------------------
name    듀크4
kor      70
eng      46
mat      60
Name: 3, dtype: object

듀크1

46

2    97
3    46
Name: eng, dtype: int64

   eng  mat
2   97   70
3   46   60

In [74]:
print(df.set_index('name'))

      kor  eng  mat
name
듀크1    90   99   90
듀크2    80   98   70
듀크3    70   97   70
듀크4    70   46   60
듀크5    60   77   88
듀크6    70   56   99
듀크7    90   90   90