In [22]:
import pandas as pd

data = {
    'name' : ['둘리', '또치', '도우너', '희동이'],
    'kor' : [90, 80, 70, 70],
    'eng' : [99, 98, 97, 46],
    'mat' : [90,70, 70, 60]
}

df = pd.DataFrame(data)

In [23]:
# Problem1

df['class'] = ['1반', '2반', '1반', '2반']

print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반

In [24]:
# Problem2

df.loc[4] = ['마이콜', 80, 80, 80, '1반']

print(df)

  name  kor  eng  mat class
0   둘리   90   99   90    1반
1   또치   80   98   70    2반
2  도우너   70   97   70    1반
3  희동이   70   46   60    2반
4  마이콜   80   80   80    1반

In [25]:
# Problem3

df.rename(columns={'kor':'국어', 'eng':'영어','mat':'수학', 'class':'반번호'}, inplace=True)
df = df.set_index('name')
print(df)

      국어  영어  수학 반번호
name
둘리    90  99  90  1반
또치    80  98  70  2반
도우너   70  97  70  1반
희동이   70  46  60  2반
마이콜   80  80  80  1반

In [26]:
# Problem4

df.loc['마이콜', ['국어', '영어', '수학']] = 100, 100, 100
df.loc['희동이', ['영어']] = 90
print(df)

       국어   영어   수학 반번호
name
둘리     90   99   90  1반
또치     80   98   70  2반
도우너    70   97   70  1반
희동이    70   90   60  2반
마이콜   100  100  100  1반

In [27]:
# Problem5

df = df.reset_index()
print(df)
df.rename(columns={'name':'성명'}, inplace=True)
print(df)

  name   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반
    성명   국어   영어   수학 반번호
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
4  마이콜  100  100  100  1반

In [28]:
# Problem6

df1 = df.sort_values(by='국어', ascending=False)
print(df1)
df2 = df.sort_values(by='영어', ascending=True)
print(df2)

    성명   국어   영어   수학 반번호
4  마이콜  100  100  100  1반
0   둘리   90   99   90  1반
1   또치   80   98   70  2반
2  도우너   70   97   70  1반
3  희동이   70   90   60  2반
    성명   국어   영어   수학 반번호
3  희동이   70   90   60  2반
2  도우너   70   97   70  1반
1   또치   80   98   70  2반
0   둘리   90   99   90  1반
4  마이콜  100  100  100  1반

In [30]:
# Problem7

df['총점'] = df['국어'] + df['영어'] + df['수학']
df = df.sort_values(by='총점', ascending=False)
print(df)

    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [34]:
# Problem8

df3 = df.copy()
df3.drop(['반번호'], axis=1, inplace=True)
print(df3)

print(df)

    성명   국어   영어   수학   총점
4  마이콜  100  100  100  300
0   둘리   90   99   90  279
1   또치   80   98   70  248
2  도우너   70   97   70  237
3  희동이   70   90   60  220
    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [40]:
# Problem9

df4 = df.drop(4, axis=0)
print(df4)

print(df)

    성명  국어  영어  수학 반번호   총점
0   둘리  90  99  90  1반  279
1   또치  80  98  70  2반  248
2  도우너  70  97  70  1반  237
3  희동이  70  90  60  2반  220
    성명   국어   영어   수학 반번호   총점
4  마이콜  100  100  100  1반  300
0   둘리   90   99   90  1반  279
1   또치   80   98   70  2반  248
2  도우너   70   97   70  1반  237
3  희동이   70   90   60  2반  220

In [59]:
# Problem10

data1 = {'kor':90, 'mat':80}
data2 = {'kor':90, 'eng':70}
data3 = {'kor':90, 'eng':70, 'mat':80}

series1 = pd.Series(data1)
series2 = pd.Series(data2)
series3 = pd.Series(data3)

result = series1 + series2 + series3
print(result)
print()

result1 = series1.add(series2, fill_value=0)
result2 = result1.add(series3, fill_value=0)

print(result2)

eng      NaN
kor    270.0
mat      NaN
dtype: float64

eng    140.0
kor    270.0
mat    160.0
dtype: float64

In [53]:
data = {
    'X1':[2.9, 2.4, 2, 2.3, 3.2],
    'X2':[9.2, 8.7, 7.2, 8.5, 9.6],
    'X3':[13.2, 11.5, 10.8, 12.3, 12.6],
    'X4':[2,3,4,3,2]
}

df = pd.DataFrame(data, index=['Y1','Y2','Y3','Y4','Y5'])
df.loc['Y6', ['X1', 'X2', 'X3', 'X4']] = 10, 20, 30 ,40 
print(df)
print()

df = df +10
print(df)
print()

df['total'] = df['X1'] + df['X2'] + df['X3'] + df['X4']
print(df)
print()

print(df.T)

      X1    X2    X3    X4
Y1   2.9   9.2  13.2   2.0
Y2   2.4   8.7  11.5   3.0
Y3   2.0   7.2  10.8   4.0
Y4   2.3   8.5  12.3   3.0
Y5   3.2   9.6  12.6   2.0
Y6  10.0  20.0  30.0  40.0

      X1    X2    X3    X4
Y1  12.9  19.2  23.2  12.0
Y2  12.4  18.7  21.5  13.0
Y3  12.0  17.2  20.8  14.0
Y4  12.3  18.5  22.3  13.0
Y5  13.2  19.6  22.6  12.0
Y6  20.0  30.0  40.0  50.0

      X1    X2    X3    X4  total
Y1  12.9  19.2  23.2  12.0   67.3
Y2  12.4  18.7  21.5  13.0   65.6
Y3  12.0  17.2  20.8  14.0   64.0
Y4  12.3  18.5  22.3  13.0   66.1
Y5  13.2  19.6  22.6  12.0   67.4
Y6  20.0  30.0  40.0  50.0  140.0

         Y1    Y2    Y3    Y4    Y5     Y6
X1     12.9  12.4  12.0  12.3  13.2   20.0
X2     19.2  18.7  17.2  18.5  19.6   30.0
X3     23.2  21.5  20.8  22.3  22.6   40.0
X4     12.0  13.0  14.0  13.0  12.0   50.0
total  67.3  65.6  64.0  66.1  67.4  140.0